<div >
    <h2>Restaurantes</h2>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Filtros</legend>
        <div class="control-group">

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" ng-model="searchText" ng-change="refreshData()" ng-model="rName">
            </div>
            <button class="btn btn-primary" ng-click="searchRestaurant()">Pesquisar</button>
            <a class="btn btn-success" href="/#/addrestaurants">Cadastrar novo restaurante</a>
        </div>
    </fieldset>
    <div>
        <restaurant-grid datagrid="rgrid"></restaurant-grid>
    </div>
</div>
